{{> head }}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Capitan America</h1>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eligendi nemo reiciendis possimus hic praesentium molestiae quos labore tenetur veniam consectetur error earum vitae ipsum delectus, qui tempora. Cumque, maiores.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/capitan-america.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}